body{
    font: normal 15px Arial;
    padding: auto;
}

h1{
    text-align: center;
}

#itens_section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
}

div{
    border: 1px solid blue;
    border-radius: 10px;
    text-align: center;
    width: 15vw;
    height: auto;
    padding: 5px;
}

img{
    width: 100%;
    height: auto;
}

p{
    text-align: left;
}